@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quizzy. Тестируем знания</h1>
    <p class="lead">Сервис для проведения опросов. Тестируйте знания везде - на лекциях, на практике, на семинарах.</p>
    <p><a href="#UseApp" class="btn btn-primary btn-lg">Узнать больше&raquo;</a></p>
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Как использовать приложение</h2>
        <p>
            Для проведения тестирования необходимо установить на мобильный телефон, который работает под управлением Androd, приложение Quizzy
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Скачать бланк ответов</h2>
        <p>Бланки ответов, шаблоны для подготовки тестов в Excel, для списков групп и так далее</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Технические подробности</h2>
        <p>Подсказки для использования сервиса и приложения</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Далее &raquo;</a></p>
    </div>




</div>
    -->
<p><a name="UseApp"></a>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="row">
    <div class="col-md-12 bg-light text-dark">
        <h3>Как использовать приложение?</h3>
            <ul>
            <li> <p class="lead">Скачайте и установите <a href="https://yadi.sk/d/6rgUNW2o3SciNJ">apk-файл</a> на ваш телефон. Внимание! Приложение работает в тестовом режиме. Использования - на свой риск</p></li>
            <li><p class="lead">Зарегистрируйтесь на сайте и создайте тест</p></li>
            <li><p class="lead">Скачайте pdf-файл с тестом и распечатайте. При необходимости можно "на лету" создать несколько копий теста, в которых будут переставлены случайным образом вопросы и ответы на вопросы</p></li>
            <li><p class="lead">Скачайте <a href="http://budny.by/portals/0/quizform.pdf">бланк для ответа</a></p></li>
            <li><p class="lead">Заполните бланки, сканируйте их при помощи приложения на мобильном телефоне, сразу получайте ответ (типичное время сканирования на мобильном телефоне 1-5 секунд, в зависимости от мощности процессора)</p></li>
            <li><p class="lead">Приложение работает в offline-режиме, без интернета. Интернет нужен только для синхронизации приложения с сервисом (скачивания тестов, групп студентов, закачки результатов тестов)</p></li>
            <li><p class="lead">Есть возможность создания групп, а также назначения тестов для прохождения всеми участниками группы</p></li>
            </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12 bg-secondary text-dark">
        <h3><a name="Contacts"></a>Контакты</h3>
        <ul>
            <li> <p class="lead">Разработчик - Овсянников К.В. Заведующий кафедрой ПОИТ, Белорусско-Российский университет</p></li>
            <li><p class="lead">Телефон для связи: 8-029-741-32-12</p></li>
            <li><p class="lead">EMail: 2000@tut.by</p></li>
            <li><p class="lead">Skype: kanstantsin_ausiannikau</p></li>
        </ul>
    </div>
</div>
